body {
    margin: 0;
    padding: 0;
    font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
    color: #244376;
    background-color: #ffffff; /* Grey background */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  
  #loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  .loader::before,
  .loader::after {
    content: '';
    border: 7px solid #ccc;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    animation: loader 2s linear infinite;
    opacity: 0;
  }
  
  .loader::before {
    animation-delay: 1s;
  }
  
  @keyframes loader {
    0% {
      transform: scale(1);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  #card {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  model-viewer {
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Grey background */
    --poster-color: #ffffff00;
  }
  
